<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-BR"></head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>

<title>CodeBlog</title>
</head>
<body>
	<header>

		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1">CodeBlog</span>
		</nav>
	</header>

	<section>
		<div class="container" style="width: 60%; padding: 30px">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb"
					style="background-color: white; padding-left: 0px">
					<li class="breadcrumb-item" aria-current="page"><a
						th:href="@{/posts}">Posts</a></li>
					<li class="breadcrumb-item active" aria-current="page">Novo
						Post</li>
				</ol>
			</nav>

			<div>

				<th:block th:include="shared/mensagem"></th:block>
				<form th:action="@{/posts/new}" method="post">
					<div class="form-group">
						<input type="text" class="form-control" name="titulo"
							placeholder="Título *">
					</div>

					<div class="form-group">
						<input type="text" class="form-control" name="autor"
							placeholder="Autor *">
					</div>

					<textarea id="summernote" class="form-control" name="texto"
						placeholder="Texto *"></textarea>

					<small class="form-text text-muted">(*) Campos obrigátorios</small>
					<br />
					<button type="submit" class="btn btn-primary">Publicar</button>
					<a href="/posts" class="btn btn-light">Cancelar</a>
				</form>
			</div>
		</div>

	</section>

	<script type="text/javascript">
		$('#summernote').summernote({
			placeholder : 'Texto *',
			tabsize : 2,
			height : 300
		});
	</script>
</body>
</html>