<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-BR"></head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
	    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

  <title th:text="${'Post' + ' ' + post.Titulo}"></title>
</head>
<body>
	<header>

		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1">CodeBlog</span>
		</nav>
	</header>

	<main>
		<div class="container" style="width: 60%; padding: 30px">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb"
					style="background-color: white; padding-left: 0px">
					<li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
					<li class="breadcrumb-item active" aria-current="page">Post</li>
				</ol>
			</nav>
	
	
		<article>
			<h1 class="card-title" style="font-weight: bold;margin-top: 20px"><span th:text="${post.titulo}"></span></h1>
		
			<p class="card-subtitle mb-2 text-muted">
				<i class="material-icons">person_outline</i>
				<span th:text="${post.autor}"></span>
				<br>
				<i class="material-icons">date_range</i>
				<span th:text="${post.data}"></span>
			</p>
		
		
		<section>
			<p class="card-text" style="margin-top: 40px"><span th:utext="${post.texto}"></span></p>
		</section>
		
		
		</article>
	
		</div>

	</main>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>