<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-BR"></head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<title>CodeBlog</title>
</head>
<body>
	<header>

		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1">CodeBlog</span>
			<a href="/posts/new" class="btn btn-primary" role="button">Novo Post</a>
		</nav>
	</header>

	<section>
		<div class="container" style="width: 60%; padding: 30px">
 			
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb"
					style="background-color: white; padding-left: 0px">
					<li class="breadcrumb-item active" aria-current="page">Posts</li>
				</ol>
			</nav>
			<div class="card shadow-sm bg-white rounded" style="margin-top: 20px"
				th:each="post : ${posts}">
				<div class="card-body">

					<p class="card-subtittle mb-2 text-muted" style="font-size: 0.8rem">
						<span th:text="${post.autor}"></span>
					    <span th:text="${post.data}"></span>
					</p>

	
				   <a th:href="@{/posts/{id}(id=${post.id})}">
					   <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
					   		<span th:text="${post.titulo}"></span>
					   </h4>
				   </a>
	
						<p class="card-text">
						 <span th:utext="${#strings.abbreviate(post.texto, 400)}"></span> 
				</div>
			</div>

		</div>

	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>